*{
    margin: 0;
    padding: 0;
 } 
 .header{
     min-height: 100vh;
     width: 100%;
     background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/thumb-1920-26102.jpg);
     background-position: center;
     background-size: cover;
     position: relative;
 }
 .imlogo {
     height: 100%;
     width: 100%;
     object-fit: contain;
     opacity: 0.3;
     align-items: left;
    }
 .cat {
     height:200px;
     width: 500px;
     
    }
 nav{
     display: flex;
     /* padding: 2% 6%; */
     justify-content: space-between;
     
 }  
 nav img{
     width: 150px;
 
 } 
 .nav-links{
     flex: 1;
     text-align: right;
     font-family: sans-serif;
 }
 .nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
 }
 .nav-links ul li a{
      color: aliceblue;
      text-decoration: none;
      font-size: 13px;
 }
 .nav-links ul li::after{
     content: '' ;
     width: 0%;
     height: 2px;
     background-color: #f44336;
     display: block;
     margin: auto;
     transition: 0.5s;
 }
 .nav-links ul li:hover::after{
     width: 100%;
 }
  .text-box{
     width: 90%;
     text-align: center;
     color: antiquewhite;
     font-family: sans-serif;
     position: absolute;
     top: 30%;
     left: 50%;
     transform: translate(-50%,-50%); 
 
 }
 .text-box h1{
     font-family: 'Smooch', cursive;
     font-size: 100px;
 }
 .cat h1{
     text-decoration: none;
     font-family: fantasy;
     color: rgb(157, 240, 153);
     font-size: 3rem;
 }
 .button{
     display: inline-block;
     text-decoration: none;
     color: aliceblue;
     border: 1px solid white;
     padding: 12px 34px;
     font-size: 13px;
     background: transparent;
     position: relative;
     cursor: pointer;
     margin-top: 40px;
 }
 .button:hover{
     border: 1px solid #f44336;
     background: #f44336;
     transition: 1s;
     
 }