<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
        <nav>
            <div class="cat"><a href="home.html"><img class="imlogo" src="images/logo.jpg">
             </a></div>
             <div class="nav-links">
                 <ul>
                     <li><a href=" ">HOME</a></li>
                     <li><a href=" ">ABOUT</a></li>
                     <li><a href=" ">CONTACT</a></li>
                     <li><a href=" ">FAQs</a></li>
                 </ul>
             </div>
        </nav>
    <div class="text-box">
        <h1>Hey, There!!</h1>
        <p>
            Let it be any queries about the site or
             just a friendly chit-chat,
             We are here for you :) 
        </p></div>
        
            <form action=" " class="q_form">
                <div class="q_form"><p>
                    <label for="name">Enter your name :</label>
                    <input type="text" name="name" id="name" required></p>
                </div>
                <div><p>
                    <label for="email">Enter your email :</label>
                    <input type="email" name="email" id="email" required></p>
                </div> 
                <div><p>
                    <label for="q">Write Your query here :</label>
                    <textarea  name="q" id="q"  rows="5" cols="33" required>Hello World!</textarea></p>
                </div> 
                <div><p>
                    <input type="submit" value="Submit!" class="submit"></p>
                </div>

            </form>

        
    
         

       
        
    </section>
    
    
</body>
</html>
