<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    
</head>
<body>
    <section class="header">
        <nav>
            <div class="cat"><a href="home.html"><h1>HOOK-A-BOOK</h1>
             </a></div>
             <div class="nav-links">
                 <ul>
                     <li><a href=" ">HOME</a></li>
                     <li><a href=" ">ABOUT</a></li>
                     <li><a href=" ">CONTACT</a></li>
                     <li><a href=" ">FAQs</a></li>
                 </ul>
             </div>
        </nav>
    <div class="text-box">
        <h1>Ready to get hooked on books?</h1>
        <p>
            Your favorite books, at your doorstep! 
        </p>
        <a href="home.htm " class="button">Get Started</a>
    </div>
        
          

        
    
         

       
        
    </section>
    
    
</body>
</html>