*{
   margin: 0;
   padding: 0;
} 
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(https://www.teahub.io/photos/full/55-553913_photo-wallpaper-background-wallpaper-blur-book-book-background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.imlogo {
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 0.3;
    align-items: left;
   }
.cat {
    height:200px;
    width: 200px;
    
   }
nav{
    display: flex;
    /* padding: 2% 6%; */
    justify-content: space-between;
    
}  
nav img{
    width: 150px;

} 
.nav-links{
    flex: 1;
    text-align: right;
    font-family: sans-serif;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
     color: aliceblue;
     text-decoration: none;
     font-size: 13px;
}
.nav-links ul li::after{
    content: '' ;
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
 .text-box{
    width: 90%;
    text-align: center;
    color: antiquewhite;
    font-family: sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%); 

}
.text-box h1{
    font-family: 'Smooch', cursive;
    font-size: 100px;
}
form{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 33%;
    color: rgb(181, 240, 240);
    background: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: aliceblue;
    border-style: solid;
    backdrop-filter: blur(5px);
    padding: 20px;
    width: 500px;
}

input{
    background: transparent;
    border-color: rgb(213, 249, 237);
    font-size: large;
    color: aliceblue;
}
label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    width: 180px;
    line-height: 26px;
    margin-bottom: 10px;
    left: 2%;
}   
input {
    
    flex: 0 0 200px;
    /* margin-left: 10px; */
    box-sizing: content-box;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
  } 
.submit{
    margin-top: 20px;
    width: 90px;
}
#q{
    height: 60px;
    width: 100%;
    
}
textarea{
    background: transparent ;
    font-size: 1rem;
    color: aliceblue;
}
