.trans
{
    color:rgb(97, 166, 171);
}

.trans:hover
{
    color:#5fa3a8
}

.first_img
{

    border: 1px solid (0,0,0,0.2);
}

.title2
{
    font-family:'dancing script',cursive,sans-serif;
    font-size: 45px; 
    font-weight: bolder;
    color:rgb(0, 32, 69);
}
.navbar-header
{
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.nav-links ul li::after
{
    content: '' ;
    width: 0%;
    height: 2px;
    background-color: #5fa3a8;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li:hover
{
    color:#5fa3a8;
}

.titlebar
{
    height:75px;
}

.title:hover
{
    color:rgb(0, 32, 69);
}

.circle
{
    height: 500px;
    border-color: white;
    border-width: 2px;

}