{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>
            FAQs
        </title>
        <link rel="stylesheet" href="{% static 'faqs/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            FAQs
        </header>
        <main>
            <p>1.  Why do I can understand the different price rates offered on the same item?</p>
            <p>An item might be available at contrasting costs. This difference could be
                because of the different vendors providing the same item at their suitable prices.
                At Hook-A-Book, different vendors can offer their suiting prices
                and can fulfill their order differently.</p>
            <p>2.  Do I need to have an account on Bookswagon for shopping?</p>

            <p>Yep, it is suggested to have your own account on the website.
                You should form your account and by thence you can savor a individualized shopping feel,
                also including suggestions, fast checkout procedure and a personal wishlist. 
                You will also be able to rate and review the items and the vendors according to your choice.</p>

            <p>3. How can I make payment using my credit or debit card?</p>
            <p>This feature will be shortly available on Hook-A-Book. Till then we provide an option for cash on delivery.</p>
            <p>4.  What is the policy provided for return?</p>

            <p>We always insure that the product sold on the Hook-A-Book is 100% unfeigned.
                 But still if there is any issue with the product delivered, we assure simple and costless
                  return policies for the return of any damaged product. Possible solution for these issues could be
                   replacing, exchanging or refunding of the product or amount value relying on seller’s return process.
                
                We ensure to make every possible effort in making it well-fixed for the customer’s convenience. Upside to this, Hook-A-Book has 
                a policy to provide backup for the customer’s security. 
                According to this policy buyer are provided with 45 days protection for return regardless to the policy of the seller, from the delivery date.</p>
            <p>5.  What is the procedure for returning the purchased order?</p>
            <p>For the convenience of our customers, we have framed simple and easy steps to be followed:</p>
                <ul>
                <li>Contact the Hook-A-Book along with the details of the order.</li>
                <li>As soon we receive your complain, the customer executive will contact you to confirm the request for returning and will familiarize you with process and pick up.</li>
                <li>Before you return the product make sure that the product is not used and is still its original form, including the price tags, packaging and original bill.</li>
                </ul>
            </main>
        </main>
    </body>
</html>